<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Show form</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>


<main role="main" class="container">

    <div class="starter-template">
        <h1>Student Confirmation</h1>
        <p th:text="${studentluv.firstName}"></p>
        <p th:text="${studentluv.lastName}"></p>
        <p th:text="${studentluv.country}"></p>
        <p th:text="${studentluv.favoritLanguage}"></p>
        <div class="list">
            <ul>
                <li th:each="item : ${studentluv.operationSystem}" th:text="${item}"></li>
                <li>...</li>
            </ul>
        </div>
    </div>
</main>
<!-- /.container -->

</body>
</html>