<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Show form</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>


<main role="main" class="container">

    <div class="starter-template">
        <h1>Form</h1>
        <form action="#" th:action="@{/v2/confirmStudent}" th:object="${studentluv}" method="GET">
            <input type="text" placeholder="What is your firstname?" th:field="*{firstName}">
            <input type="text" placeholder="What is your Lastname?" th:field="*{lastName}">
            <select th:field="*{country}">
                <option value="NONE">----Select----</option>
                <option th:each="item :*{countryList.entrySet()}" th:value="${item.getValue()}" th:text="${item.getKey()}"></option>
            </select>
            <br><br>
            <input type="radio" th:field="*{favoritLanguage}" th:value="Java">
            <label>Java</label>
            <input type="radio" th:field="*{favoritLanguage}" th:value="C">
            <label>C</label>
            <input type="radio" th:field="*{favoritLanguage}" th:value="PHP">
            <label>PHP</label>
            <input type="radio" th:field="*{favoritLanguage}" th:value="Ruby">
            <label>Ruby</label>
            <br><br>
            Operation Systems:
            <input type="checkbox" th:field="*{operationSystem}" th:value="Linux">
            <label>Linux</label>
            <input type="checkbox" th:field="*{operationSystem}" th:value="Mac_Os">
            <label>Mac</label>
            <input type="checkbox" th:field="*{operationSystem}" th:value="Windows">
            <label>Windows</label>


            <button type="submit">submit</button>
        </form>
    </div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>